#forgot_pass{
  display:flex; 
  justify-content: space-between;
}

h6{
  width: 100%;
  text-align: center;
  margin: 10px 0px 20px;
  border-bottom: 1px solid  grey;
  line-height: 0.1;
}

.new_to{
  display: flex;
  flex-direction: column;
  align-content: center;
  padding: 15px;
  gap: 20px;
}

.container{
  display: flex;
  flex-direction: column;
  align-content: center;
}

footer nav{
display:flex;
justify-content: space-evenly; 
text-align: center;
}

footer{
  display:flex
  flex-direction; column;
  text-align: center;
}