#forgot_pass{
  display:flex; 
  justify-content: space-between;
}

h6 {
  width: 100%;
  text-align: center;
  line-height: 0.8em;
  margin: 10px 0 20px;
  position: relative; 
  display: flex; 
}

h6 span {
  padding: 0 10px; 
  position: relative; 
  z-index: 1; 
  margin-bottom: .5em; 
  border-bottom: 1px solid #000;
  flex-grow: 1;
}

.new_to {
  display: flex;
  flex-direction: column;
  align-content: center;
  padding: 15px;
  gap: 20px;
  width: 18rem; 
}

.container{
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
}

footer nav{
display:flex;
justify-content: space-around; 
text-align: center;
}

footer{
  display:flex;
  flex-direction: column;
  text-align: center;
}

.btn{
  margin-bottom: 5%;
}

a{
  text-decoration:none !important;
}